
<style>
body{
	width:100%;
	height:100%;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #b57eb3;
	
}


h1,h2,h3 {
	margin:0 0 35px 0;
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
	letter-spacing:1px;
}

p{
	margin:0 0 25px;
	font-size:18px;
	line-height:1.6em;
}
a{
	color:#b57eb3	;
}
a:hover,a:focus{
	text-decoration:none;
	color:#b57eb3;
}

#contact{
	/*
	background:#333333;
	color:#f4f4f4;
	*/
	padding-bottom:80px;
}

textarea.form-control{
    height:100px;
}
</style>

<link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<section id="contact" class="content-section text-center" style="background-color: #b57eb3">
        <div class="contact-section" >
            <div class="container">
            
            	<br>
            	<br>
              	<h2>About Us</h2>
            
            	            	<p style="font-family: 'Courgette', cursive; font-size: 32px;">AttachOne is a full-service collaboration Platform, and we create custom 
            	                                                            strategies for each and every individual based on their needs and goals</p>
            	
            	
            	
                        
            	<br>
            	<br>
              <h2>Contact Us</h2>
              
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label for="exampleInputName2">Name</label>
                      <input type="text" ng-model="Username.value" ng-change="Username.validate()" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                    
                    	<div ng-if="Username.touched && Username.error" class="text text-default">
									<br>
									<h1>Title must be between 2 and 20 characters</h1>
							</div>
                    
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail2">Email</label>
                      <input type="email" ng-model="Email.value" ng-change="Email.validate()" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                    	<div ng-if="Email.touched && Email.error" class="text text-default">
									<br>
									<h1>Invalid Email Format</h1>
							</div>
                    </div>
                    <div class="form-group ">
                      <label for="exampleInputText">Comments, Questions or Suggestions</label>
                     <textarea ng-model="Description.value" ng-change="Description.validate()" class="form-control" placeholder="Description"></textarea> 
                    
                    	<div ng-if="Description.touched && Description.error" class="text text-default">
									<br>
									<h1>Description must be between 2 and 160 characters</h1>
							</div>
                    
                    </div>
                    <button ng-disabled='!( !Email.error && Email.touched && !Username.error && Username.touched && !Description.error && Description.touched)' ng-click="SendMessage()" class="btn btn-danger">Send Message</button>
                  </form>

                  <br>
                  <br>
                    <h3>Our Social Partners</h3>
                  <ul class="list-inline banner-social-buttons">
                    <li><a href="#" class="btn btn-primary btn-lg"><i class="fa fa-twitter"> <span class="network-name">Twitter</span></i></a></li>
                    <li><a href="#" class="btn btn-primary btn-lg"><i class="fa fa-facebook"> <span class="network-name">Facebook</span></i></a></li>
                    <li><a href="#" class="btn btn-danger btn-lg"><i class="fa fa-youtube-play"> <span class="network-name">Youtube</span></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </section>